<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<title>Home</title>
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.2.1/css/bootstrap.min.css">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.6/umd/popper.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.2.1/js/bootstrap.min.js"></script>
	<link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.7.2/css/all.css" integrity="sha384-fnmOCqbTlWIlj8LyTjo7mOUStjsKC4pOpQbqyi7RrhN7udi9RwhKkMHpvLbHG9Sr" crossorigin="anonymous">

	{% load static %}
	<link rel="stylesheet" href="{% static 'css/style.css' %}" />



	

</style>
</head>
<body>
<nav class="navbar navbar-expand-sm navbar-dark bg-dark">
  <a class="navbar-brand" href="#"><i class="far fa-clock"></i> Tt</a>
  <button class="navbar-toggler" type="btn" data-toggle="collapse" data-target="#navbarNav" >
    <span class="navbar-toggler-icon"></span>
  </button>
  <div class="collapse navbar-collapse" id="navbarNav">
    <ul class="navbar-nav">
      <li class="nav-item active">
        <a class="nav-link" href="#"> Головна</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="#">Мої проекти</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="#">Мої завдання</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="#">Журнал</a>
      </li>
    </ul>
  </div>
</nav>

	{% block content %}

		

	{% endblock %}

<footer class="footer font-small-white" id="botfooter">

  <div class="footer  bg-dark" id="botfooter">Система керування проектами   
  </div>

</footer>

</body>
</html>