* {
  	margin: 0;
  	padding: 0;
}
html,
body {
  	height: 100%;
}
.wrapper {
  	display: flex;
  	flex-direction: column;
 	 height: 100%;
}
.content {
 	 flex: 1 0 auto;
}
.botfooter {
	height: 50px;
  	flex: 0 0 auto;
}

.included-content {
	height: 90%;
}


.avatar_image {
	max-height: 270px ;
	

}

