{% extends "home/wrapper.html" %}
{% block content %}
	<div class="container pt-4 pb-4">
		<div id="accordion">
			{% for i in task %}
			<div class="card m-2">
				<div class="card-header bg-dark " data-toggle="collapse" data-target="#collapseOne"
					aria-expanded="true" aria-controls="collapseOne" >
					
					<div class=" text-center text-white h5 m-2  d-flex  ">
						<div class="text-center w-100">
							{{i}}
						</div>
						<div>
							<span class="badge text-left  {% if i.priority == 'High' %}badge-warning
								{% elif i.priority == 'Normal' %}  badge-success
								{% elif i.priority == 'Extra' %} badge-danger
								{% endif %}">{{i.priority}}</span>
						</div>
						
					</div>
					
				</div>
				<div id="collapseOne" class="collapse "  >
					<div class="card-body border border-dark text-center">
						
						{{i.description}}
					</div>
				</div>
			</div>
			{% endfor %}
			
			
			
			
			
		</div>

		{% load static %}
		<script src="{% static 'js/mytasksscript.js' %}"></script>
	{% endblock %}