{% extends "home/wrapper.html" %}
{% block content %}
	<div class="d-flex justify-content-center align-items-center h-100">
		<div class="container ">
			<div class="card bg-dark text-white">
				<div class="card-header row w-100 m-0">
					<div class="d-flex col-10 justify-content-center  align-items-center">
						<div>
							<h4 class="card-title">{{user.username}}</h4>
						</div>
					</div>
					<a class="btn btn-info col-2" href="/log_out">Log out</a>
				</div>

				<div class="card-body">
					<div class="h-100">
					
					</div>
					<img src="/media/{{UserProfile.profile_image}}"  class="img-fluid img-thumbnail border" width="500" height="500" alt="#">
				</div>
				<div class="card-footer">
					<form class="form-inline">
						<div class="custom-file">
							<input type="file" class="custom-file-input" id="customFile"  accept="image/*">
							<label class="custom-file-label" for="customFile">Choose img</label>
						</div>
					</form>
				</div>
			</div>
		</div>
	</div>
{% endblock %}