<!DOCTYPE html>
<html lang="en">
	<head>
		<meta charset="UTF-8">
		<title>Log In</title>
		<meta name="viewport" content="width=device-width, initial-scale=1">
		<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.2.1/css/bootstrap.min.css">
		<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
		<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.6/umd/popper.min.js"></script>
		<script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.2.1/js/bootstrap.min.js"></script>
		<link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.7.2/css/all.css" integrity="sha384-fnmOCqbTlWIlj8LyTjo7mOUStjsKC4pOpQbqyi7RrhN7udi9RwhKkMHpvLbHG9Sr" crossorigin="anonymous">
		{% load static %}
		<link rel="stylesheet" href="{% static 'css/styles.css' %}" />
	</head>
	<body>

		<div class="d-flex justify-content-center align-items-center h-100">
			<div class="container vert">

				<div class="row justify-content-center align-items-center">
					<img src="{% static 'img/clock2.png' %}" class="img-fluid" alt="#" >
				</div>
				<div class="form-group">
					<input type="email" class="form-control" id="InputEmail" placeholder="Email">
				</div>
				<div class="form-group">
					<input type="password" class="form-control" id="InputEmail" placeholder="Пароль">
					<div class="row d-flex justify-content-center">
						<button href="home" class="auth_button col-4 btn btn-dark mr-2 mt-2">Увійти</button>
						
						<button class="auth_button col-4 btn btn-dark mr-2  mt-2">Реєстрація</button>
					</div>
				</div>
			</div>
			</div>
		</body>
	</html>