<!DOCTYPE html>
<html lang="en">
	<head>
		<meta charset="UTF-8">
		<title>Sign up</title>
		{% load static %}
		<link rel="shortcut icon" href="{% static 'icons/favicon.ico' %}" >
		<meta name="viewport" content="width=device-width, initial-scale=1">
		<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.2.1/css/bootstrap.min.css">
		<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
		<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.6/umd/popper.min.js"></script>
		<script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.2.1/js/bootstrap.min.js"></script>
		<link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.7.2/css/all.css" integrity="sha384-fnmOCqbTlWIlj8LyTjo7mOUStjsKC4pOpQbqyi7RrhN7udi9RwhKkMHpvLbHG9Sr" crossorigin="anonymous">
		{% load static %}
		<link rel="stylesheet" href="{% static 'css/styles.css' %}" />
	</head>
	<body>
		<div class="d-flex row justify-content-center align-items-center h-100 ">
			<div class="container">
				<div class="row justify-content-center align-items-center ">    <!-- Image -->
				<div class="w-50 h-100">
					<img src="{% static 'img/clock2.png' %}" class="img-fluid"  alt="#" >
				</div>
			</div>
			
			<form action="/sign_up" method="post"   >
				{% csrf_token %}
						
				<!-- Username -->
						
				<input type="text" title="Username" class="form-control m-2  {% if error.0 %} border border-danger {% endif %} "   
				placeholder="Username" name="username" required  oninvalid="this.setCustomValidity('Input your username')"
				 oninput="setCustomValidity('')"> 

				
				<!-- Email -->

				<input type="email" title="Email" class="form-control m-2  {% if error.1 %} border border-danger {% endif %} "   
				placeholder="Email"  name="email" required  oninvalid="this.setCustomValidity('Input your email')"
				 oninput="setCustomValidity('')"> 
				{% if error.1 %}
				<small class="form-text text-danger">{{error.1}}</small>
				{% endif %}
	
				<!-- Password -->

				<input type="password" title="Password" class="form-control m-2  {% if error.2 %} border border-danger {% endif %} "   
				placeholder="Password" name="password" required  oninvalid="this.setCustomValidity('Input your password')"
				 oninput="setCustomValidity('')"> 
				{% if error.2 %}
				<small class="form-text text-danger">{{error.2}}</small>
				{% endif %}

     			<!-- Name -->

				<input type="text" title="First name" class="form-control m-2  {% if error.3 %} border border-danger {% endif %} "   
				placeholder="Name" name="first_name" required  oninvalid="this.setCustomValidity('Input your real name')"
				 oninput="setCustomValidity('')"> 
				{% if error.3 %}
				<small class="form-text text-danger">{{error.3}} </small>
				{% endif %}
				
				<!-- Surname -->

				<input type="text" title="Last name"  class="form-control m-2  {% if error.4 %} border border-danger {% endif %} "   
				placeholder="Surname" name="last_name" required  oninvalid="this.setCustomValidity('Input your real surname')"
				 oninput="setCustomValidity('')"> 
				{% if error.4 %}
				<small class="form-text text-danger">{{error.4}}</small>
				{% endif %}
				
				<!-- Date of birth -->

				<input type="date" value="2000-01-31" title="date of birth" class="form-control m-2  {% if error.5 %} border border-danger {% endif %} "   
				name="date_of_birth"  required> 
				{% if error.5 %}
				<small class="form-text text-danger">{{error.5}}</small>
				{% endif %}
				
				<!-- Function -->

				<input type="text" title="Function" class="form-control m-2  {% if error.6 %} border border-danger {% endif %} "   
				placeholder="Function" name="user_function"  required> 
				{% if error.6 %}
				<small class="form-text text-danger">{{error.6}}</small>
				{% endif %}
				
			
			
			
			
			<div class="row d-flex justify-content-center">
				<button type="submit"  class="auth_button col-7 btn btn-dark mr-2  mt-2 mb-3">Sign up</button>

			</div>
			</form>
		</div>
	</div>
</div>



</body>
</html>